<center><img src="GeorgianCollegeLogo.svg"></center>
<h1><center>BDAT 1004: Data Analytics Programming</center></h1>
<h3><center>Problem Set 2: Questions</center></h3>
<h3><center>Patrick Odita - 200610831</center></h3>
<h2><b>References</b></<ol>>
    <li><b>Python</b>:</li>
    <ol>
        <li>https://www.w3schools.com/python/default.asp</li>
        <li>https://www.python.org/doc/</li>
    </ol>
</ol>

Question 1
Consider the following Python module:

In [ ]:
a = 0

def b():
    global a
    a = c(a)

def c(a):
    return a + 2

In [ ]:
>>> b()
>>> b()
>>> b()
>>> a

What value is displayed when the last expression (a) is evaluated? 
Explain your Banswer by indicating what happens in every executed statement.

Starting from this Point: We have a number called a, and it starts at 0.
First time we use b():

The function b() changes a by asking another function, c(), to do some math.
At first, a is 0, so c() adds 2 to it (0 + 2 = 2).
Now, a becomes 2.
Second time we use b():

Now, a is 2.
Again, b() asks c() to add 2. So, c() does 2 + 2 = 4.
Now, a becomes 4.
Third time we use b():

This time, a is 4.
Once again, b() asks c() to add 2. So, c() does 4 + 2 = 6.
Now, a becomes 6.
Final Answer:
After running the function b() three times, the value of a becomes 6.

Question 2
Function fileLength(), given to you, takes the name of a file as input and returns 
the length of the file

In [ ]:
def fileLength(filename):
    try:
        with open(filename, 'r') as infile:
            content = infile.read()
            return len(content)
    except FileNotFoundError:
        print(f"File {filename} not found.")

Question3 Write a class named Marsupial that can be used as shown below:

In [ ]:
class Marsupial:
    def __init__(self):
        self.pouch = []

    def put_in_pouch(self, item):
        self.pouch.append(item)

    def pouch_contents(self):
        return self.pouch
        
# Subclass Kangaroo

class Kangaroo(Marsupial):
    def __init__(self, x, y):
        super().__init__()
        self.x = x
        self.y = y

    def jump(self, dx, dy):
        self.x += dx
        self.y += dy

    def __str__(self):
        return f'I am a Kangaroo located at coordinates ({self.x},{self.y})'

Question 4
Write function collatz() that takes a positive integer x as input and prints the 
Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying 
this rule to the previous number x in the sequence:

In [ ]:
def collatz(x):
    print(x)
    if x == 1:
        return
    elif x % 2 == 0:
        collatz(x // 2)
    else:
        collatz(3 * x + 1)

Question 5
Write a recursive method binary() that takes a non-negative 
integer n and prints the binary representation of integer n.

In [ ]:
def binary(n):
    if n < 2:
        print(n, end='')
    else:
        binary(n // 2)
        print(n % 2, end='')

Question 6

In [ ]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    def __init__(self):
        super().__init__()
        self.current_level = 0

    def handle_starttag(self, tag, attrs):
        if tag.startswith('h') and len(tag) == 2 and tag[1].isdigit():
            self.current_level = int(tag[1])

    def handle_data(self, data):
        if self.current_level > 0:
            print(' ' * (self.current_level - 1) + data)
            self.current_level = 0

Question 7

In [ ]:
import urllib.request
from html.parser import HTMLParser

def webdir(url, depth, indent):
    if depth < 0:
        return
    print(' ' * indent + url)
    try:
        response = urllib.request.urlopen(url)
        content = response.read().decode()
    except:
        return
    parser = HeadingParser()
    parser.feed(content)

Question 8 SQL Queries

a) All the temperature data.

In [ ]:
SELECT Temperature FROM weather;

b) All the cities, but without repetition.

In [ ]:
SELECT DISTINCT City FROM weather;

c) All the records for India.

In [ ]:
SELECT * FROM weather WHERE Country = 'India';

d) All the Fall records.

In [ ]:
SELECT * FROM weather WHERE Season = 'Fall';

e) The city, country, and season for which the average rainfall is between 200 
and 400 millimeters.

In [ ]:
SELECT city, country, season
FROM weather_data
WHERE average_rainfall BETWEEN 200 AND 400;

f) The city and country for which the average Fall temperature is above 20 
degrees, in increasing temperature order

In [ ]:
SELECT City, Country, Temperature
FROM weather
WHERE Season = 'Fall' AND Temperature > 20
ORDER BY Temperature ASC;

g) The total annual rainfall for Cairo

In [ ]:
SELECT SUM(Rainfall) AS Total_Annual_Rainfall
FROM weather
WHERE City = 'Cairo';

h) The total rainfall for each season

In [ ]:
SELECT Season, SUM(Rainfall) AS Total_Rainfall
FROM weather
GROUP BY Season;

a) Convert all words to uppercase

In [ ]:
# Given list of words
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

a) Convert all words to uppercase

In [ ]:
uppercase_words = [word.upper() for word in words]
print(uppercase_words)

b) Convert all words to lowercase

In [ ]:
lowercase_words = [word.lower() for word in words]
print(lowercase_words)

c) List of lengths of words in the list

In [ ]:
word_lengths = [len(word) for word in words]
print(word_lengths)

d) List of lists where each word has uppercase, lowercase, and its length

In [ ]:
word_info = [[word.upper(), word.lower(), len(word)] for word in words]
print(word_info)

e) List of words with 4 or more characters

In [ ]:
long_words = [word for word in words if len(word) >= 4]
print(long_words)